.card {
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
}

.card:hover {
    transform: scale(.8);
}

.card:hover:after {
    height: 280px;
}

.card:hover .texto p {
    margin-bottom: 0px;
    opacity: 1;
}

.card:hover img {
    transform: scale(1.25);
}
.card:hover .ul {
    transform: translate(0);
    opacity: 1;
}

.card:after {
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0) 0%, rgba(20, 20, 20, 0.2) 100%);
    z-index: 20;
    transition: all 0.25s ease;
}

.card img{
    height: 100%;
    z-index: 10;
    transition: all 025s ease;
}