.card {
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
}

.card:hover {
    transform: scale(.8);
}

.card:hover:after {
    height: 280px;
}

.card:hover .texto p {
    margin-bottom: 0px;
    opacity: 1;
}

.card:hover img {
    transform: scale(1.25);
}
.card:hover .ul {
    transform: translate(0);
    opacity: 1;
}

.card:after {
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, rgba(71, 71, 71, 0) 0%, rgba(20, 20, 20, 0.2) 100%);
    z-index: 20;
    transition: all 0.25s ease;
}

.card img{
    height: 100%;
    z-index: 10;
    transition: all 025s ease;
}

.card .texto{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
}

.card .texto p {
    font-size: .8rem;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.card .texto p button {
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    outline: none;
}

.card .texto p button:hover {
    background: #fff;
    color: #000;
}